{% extends "base.html.twig" %}
{% block title %}Show Auteur{% endblock %}
    {% block content %}
        <main>
            <section class="section">
                <div class="card">
                    <h1>Nom : {{ author.lastName }}</h1>
                    <h2>Prenom : {{ author.firstName }}</h2>
                    <h3>Date de Naissance : {{ author.birthdate|localizeddate('none', 'none', null, null, 'd MMMM Y') }}</h3>
                    <p>Biographie :<br>{{ author.bio }}</p>
                    <h4>Du meme Auteur :
                        {% for book in author.books %}
                            <a href="{{ path('bookShow', {'id':book.id}) }}">
                                {{ book.title }} ,
                            </a>
                        {% endfor%}
                    </h4>
                </div>
            </section>
            <a href="{{ path('authorList')}}">List des Auteurs</a>
        </main>
    {% endblock %}
