{% extends'base.html.twig' %}

{% block content %}
    <div class="admin_title">
        <h1>Admin</h1>
    </div>
    <hr>

        <div class="wrapper">
            <div class="les_livres">
                <h1>Les livres</h1>

            </div>
            <div class="pure-button pure-button-primary">
                <a href="{{ path('adminFormAddBook_page') }}">Ajouter un livres</a>
            </div>
        </div>

    <section class="section">
        <div class="table">
        {# liste de mes livres avec des bouton modifier #}
            <table class="pure-table pure-table-bordered ">
                <tr class="row_champ">
                    <td class="champ_info"><h2>Titre du livre</h2></td>
                    <td class="champ_info"><h2>Auteur</h2></td>
                    <td class="champ_info"><h2>Modifier</h2></td>
                </tr>
                {% for book in books %}
                    <tr>
                        <td class="champ_info"><h3>{{ book.title }}</h3></td>
                        <td class="champ_info"><h3>{{ book.author.lastName }} {{ book.author.firstName }}</h3></td>
                        <td class="champ_info"><div class="pure-button button-warning "><a href="{{ path('formBookUpdate_page', {id:book.id}) }}">Modifier</a></div></td>
                    </tr>
                {% endfor%}
            </table>
        </div>
    </section>
    <hr>
    <div class="wrapper">
        <div class="les_auteurs">
            <h1>les Auteurs</h1>
        </div>
        <div class="pure-button pure-button-primary">
            <a href="{{ path('adminFormAddAuthor_page') }}">Ajouter un Auteur</a>
        </div>
    </div>
    <section class="section">
        <div class="table">
            {# liste des auteurs avec un bouton modifier et ajouter un livre de l'auteur #}
            <table class=" pure-table pure-table-bordered " >
                <tr class="row_champ">
                    <td class="champ_info"><h2>Auteur</h2></td>
                    <td class="champ_info"><h2>Livres</h2></td>
                    <td class="champ_info"><h2>Modifier</h2></td>
                </tr>
                {% for author in authors %}
                    <tr>
                        <td class="champ_info"><h3>{{ author.lastName }} {{ author.firstName }}</h3></td>
                            {% for book in author.books %}
                                <td class="champ_info_livre"><h3> {{ book.title }} ,</h3></td>
                            {% endfor%}
                        <td class="champ_info">
                            <div class="pure-button button-warning">
                                <a href="{{ path('formAuthorUpdate_page', {id:author.id}) }}">Modifier l'auteur</a>
                            </div>
                            <div class="pure-button pure-button-primary">
                                <a href="{{ path('adminFormAddBook_page') }}">Ajouter un livres</a>
                            </div>
                        </td>
                    </tr>
                {% endfor%}
            </table>
        </div>
    </section>
{% endblock %}