<!DOCTYPE html>
<html lang="fr_FR">
        <head>
            <meta charset="UTF-8">
            {# ligne qui permet de scale le site sur mobile avec les nouvelle resolution#}
            <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
            <title>{% block title %}{% endblock %}</title>
            <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
            {# <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">#}
            {# je met le lien vers mon ficher main.css #}
            <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
        </head>
        <body>
            <header>
                <div class="navbar">
                    <div class="logoHeader">
                        <a href="{{ path('index_page') }}"><img src="{{ asset('assets/images/logo.jpg') }}" alt="logo" class="'resp logo"></a>
                    </div>
                    <div class="connected">
                        {% if app.user %}
                            <h3>{{ app.user.username }}</h3>
                        {% endif %}
                    </div>
                    <div class="boite">
                        <div class="button"><a href="{{ path('bookList') }}">Livres</a></div>
                        <div class="button"><a href="{{ path('authorList') }}">Auteurs</a></div>
                        <div class="button"><a href="{{ path('contact_page') }}">Contacts</a></div>
                        <div class="button"><a href="{{ path('fos_user_registration_register') }}">SignIn</a></div>
                        {% if is_granted('ROLE_USER') %}
                            <div class="button"><a href="{{ path('admin_page') }}">Admin</a></div>
                            <div class="button"><a href="{{ path('fos_user_security_logout') }}">LogOut</a></div>

                        {% else %}
                            <div class="button"><a href="{{ path('admin_page') }}">LogIn</a></div>
                        {% endif %}

                    </div>

                </div>
            </header>
            {% block content %}
            {% endblock %}
            <footer>

            </footer>
        </body>
</html>


